<%- include("partials/head")%>
<%- include("partials/header")%>
<div class="container">
       
        <a href="/products/list" class="btn btn-dark d-grid gap-2 col-6 mx-auto mt-5 mb-4" >Listar Productos</a>
        <a href="/products/create" class="btn btn-dark d-grid gap-2 col-6 mx-auto mb-4" >Crear productos</a>
        <div class="mx-auto d-grid gap-2">
                <h2>Administrar marcas y categorias</h2>
                <form action="/users/admin/relacionMarcaCategoria" method="POST">
                        <select class="form-select mb-3" name="categoria" id=""><br>
                                <%categorys.forEach(element => { %>
                                        <option value="<%=element.id%>"><%=element.name%> </option>
                                       <% }) %>
                        </select>
                        <select class="form-select w-100" name="marca" id=""><br>
                                <%brands.forEach(element => { %>
                                        <option value="<%=element.id%>"><%=element.name%> </option>
                                       <% }) %>
                        </select>
                        <button class="btn btn-dark d-grid gap-2 col-12 mx-auto mt-3 mb-4" type="submit">Relacionar</button>
                </form>
        </div>
           
        <% if (mensajes != undefined && mensajes != null) { %>
                <ul style="list-style: none; padding-left: 0;">       
                <% mensajes.forEach(element => { %>

                         <li class="alert alert-success">
                                <p class="usuario"><strong><%=element.mensajes.username%></strong></p>
                                <p class="mensaje"><%= element.message  %></p>        
                         </li>
                        <% }) %>
                </ul>
            <% } %>
    <form action="/users/crearMensaje/<%= user.id %>/" method="POST">
        <textarea class="col-12" name="mensaje" id="" rows="10"></textarea>
        <div class="row justify-content-around d-flex">
            <select class="usuarios form-select form-select-m mb-4 text-muted flex-grow-1 w-50" name="idOtherUser" id="">
                <% users.forEach(element=> { %>
                <option value="<%=element.id%>"><%=element.username%> </option>
                <% }) %>
            </select>
        <button class="enviar-mensaje btn btn-dark flex-grow-1" type="submit"><i class="far fa-envelope"></i></button>
        </div>
    </form>
    
</div>
<%- include("partials/footer")%>
</body>