<%- include("partials/head")%>
<%- include("partials/header")%>
<div class="container pepeargento">
       
        <a href="/products/list" class="btn btn-dark d-grid gap-2 col-6 mx-auto mt-5 mb-4" >Listar Productos</a>
        <a href="/products/create" class="btn btn-dark d-grid gap-2 col-6 mx-auto mb-4" >Crear productos</a>
        
                
        <% if (mensajes != undefined && mensajes != null) { %>
                <ul style="list-style: none; padding-left: 0;">       
                <% mensajes.forEach(element => { %>

                         <li class="alert alert-success" id="mensaje-<%=element.id%>" >
                               
                                <p class="usuario"><strong><%=element.mensajes.username%></strong></p>
                                <p class="mensaje"><%= element.message  %></p>
                                <div class="d-flex">
                                <button idMensaje="<%=element.id%>" type="submit" class="btn text-danger botonEliminar">Eliminar para mí <i class="fas fa-trash-alt"></i></button>
                                <form action="/users/eliminarMensajes/<%=element.id%>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn text-dark">Eliminar para todos <i class="fas fa-trash-alt"></i></button>
                                </form>  
                                </div>
                         </li>
                        <% }) %>
                </ul>
            <% } %>
    <form action="/users/crearMensaje/<%= user.id %>/" method="POST">
        <textarea class="col-12" name="mensaje" id="" rows="10" style="padding: 5px;"></textarea>
        <div class="row justify-content-around d-flex">
            <select class="usuarios form-select form-select-m mb-4 text-muted flex-grow-1 w-50" name="idOtherUser" id="">
                <% users.forEach(element=> { %>
                <option value="<%=element.id%>"><%=element.username%> </option>
                <% }) %>
            </select>
        <button class="enviar-mensaje btn btn-dark flex-grow-1" type="submit"><i class="far fa-envelope"></i></button>
        
    </div>
    </form>
    
</div>
<a href="#arriba"><input type="button" class="up"></a>
<%- include("partials/footer")%>
<script src="/javascripts/eliminarMensajes.js"></script>
</body>