<%- include("partials/head")%>
  <%- include("partials/header")%>
    <section>
            <div>
              <% user.carrito.forEach(element => { %>
                <div class="card contenedorboton mt-3 bg-success">
                  <img src="/images/<%= element.image  %> " class="card-top img-thumbnail img-fluid " alt="...">
                  <div class="card-body mb-3">
                    <h5 class="card-title"><%= element.name  %> </h5>
                    <h4 class="mt-2">$<%= element.price  %></h4>
                    <form action="/products/cart/delete/<%=element.id%>/<%=user.id%> ?_method=DELETE" method="POST">
                      <button class="btn boton" type="submit"><i class="cruz far fa-times-circle"></i></button>
                    </form>
                   
                  </div>
                </div>
              <% }) %>
              <% if (user != undefined) { %>
              </form>
              <form action="/products/api/vl/mercadopago/<%=user.id%> " method="POST">
                <button class="btn btn-primary mt-3 mb-5" type="submit"><i class="fas fa-hand-holding-usd"></i> Comprar</button>
              </form>
              <% } %> 
            </div>
          <section class="sliderpc">
            <div>
              <div class="slider owl-carousel">
                <div class="card">
                  <div class="img">
                    <img src="/images/procesador1.jpg" alt="">
                  </div>
                  <div class="content">
                    <div class="title">Procesador</div>
                    <div class="price">$123</div>
                    <div class="btn">
                      <button><i class="fas fa-cart-plus"></i>Comprar</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="img">
                    <img src="/images/ram1.jpg" alt="">
                  </div>
                  <div class="content">
                    <div class="title">Mother piola</div>
                    <div class="price">$2345</div>
                    <div class="btn">
                      <button><i class="fas fa-cart-plus"></i>Comprar</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="img">
                    <img src="/images/ram1.jpg" alt="">
                  </div>
                  <div class="content">
                    <div class="title">Mother piola</div>
                    <div class="price">$2345</div>
                    <div class="btn">
                      <button><i class="fas fa-cart-plus"></i>Comprar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <script>
      $(".slider").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 2000, //2000ms = 2s;
        autoplayHoverPause: true,
      });
    </script>
    </div>
    </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"></script>
    <%- include("partials/footer")%>
  </body>