<%- include("partials/head")%>
<%- include("partials/header")%>
<body>
    <div class="container text-start form">
        <section class="principal">
          <div class="row detalle">
            
            <div class="contenido">
              <div class="contenido text-left ">
                <div class="row pepeargento p-0">
                  <div class="col-12 col-lg-8">
                    <figure class="text-center bg-white">
                      <img class="img-fluid mt-4" src="/images/<%=product.image  %> ">
                    </figure>
                  </div>
                  <div class="col-12 col-lg-4 datos">
                    <h3 class="my-4">
                      <%= product.name  %> 
                    </h3>
                    <h6 class="text-muted">
                      <%= product.description  %> 
                    </h6>
                    <h2 class="bg-light"  style="color: rgb(146, 211, 35); border: 1px solid rgb(224, 221, 221);">
                      $ <%= product.price  %> 
                    </h2>
                    <h2 class="bg-success text-white">
                      <%= product.categorias.name  %> 
                    </h2>
                    <h2 class="bg-success text-white">
                      <%= product.marcas.name %> 
                    </h2>
                    <p><i class="fas fa-credit-card mr-3 my-2"></i> Pagá en 12 cuotas sin interés</p>
                    <p><i class="fas fa-store mr-3 my-2"></i> Retiro gratis en locales del vendedor</p>
                    <div class="btn text-center d-flex justify-content-center mb-3">
                      <button type="submit" class="botones btn btn-primary" idProducto="<%=product.id%>"><i class="fas fa-cart-plus"></i> Agregar al
                        carrito</button>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </section>
      </div>
      <section>
        <% products.forEach((element,index) => { %>
          <% if (index < 5) { %>
           
        
              <div class="card-mobile mb-3" style="width: 70%;">
                <a href="/products/detail/<%=element.id%>">
           <img src="/images/<%=element.image%>" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">
               <%=element.name%>
             </h5>
             <h4 style="color: rgb(146, 211, 35);">
               <%=element.price%>
             </h4>
             </a>
             <button type="submit" idProducto="<%=element.id%>" style="z-index: 200;" id="boton-<%=element.id%>"
               class=" btn btn-primary botones"><i class="fas fa-cart-plus"></i>Agregar al carrito</button>
   
   
           </div>
         </div>
         <% } %>
         <% }) %>
      
          <script>
            $(".slider").owlCarousel({
              loop: true,
              autoplay: true,
              autoplayTimeout: 2000, //2000ms = 2s;
              autoplayHoverPause: true,
            });
          </script>
        
      </section>
      <a href="#arriba"><input type="button" class="up"></a>
<%- include("partials/footer")%>
<script src="/javascripts/carrito.js"></script>
<script src="/javascripts/carritoBotones.js"></script>
</body>