<%- include("partials/head")%>
<%- include("partials/header")%>

<main class="container mt-2">
  <section class="mt-2">
    <h2 class="bg-success">Mouses</h2>
    <div class="contenedora">
    <% products.forEach(element => { %>
        <% if (element.category == "Mouse") { %>
         
      
          <div class=" tarjeta " >
            <a href="/products/detail/<%= element.id %> "><img src="/images/<%=element.image  %> "  alt="..."></a>
            <div class="card-body">
              <h5 class="card-title"><%= element.brand  %> </h5>
              <p class="card-text"> <%= element.price  %> </p>
              <a href="#" class="btn btn-primary w-100">Agregar al carrito</a>
              <div class="botones ">
              <form action="/products/delete/<%= element.id %>?_method=delete" method="POST">
              <button type="submit" class="btn btn-danger">Eliminar</button></form>
              <button class="btn btn-primary" > <a class="text-white" href="/products/edit/<%= element.id %> ">Editar</a></button>
              </div>
            </div>
          </div>
          <% } %>
    <% }) %>
    </div>
  </section>
  
</main>
<%- include("partials/footer")%>