<%- include("partials/head")%>
<%- include("partials/header")%>
  
  <div class="form container admin">
    <div class="row gx-0">
      <div class=" pepeargento ">
        <div class="titulo bg-success text-center mb-5">
          <h2 class="admin-title bg-dark">Crear Producto</h2>
        </div>
        <div id="img-preview"></div>
        <form action="/products/create" method="POST" enctype="multipart/form-data" id="form">
          
          <div class="mb-3">
            <input class="form-control form-control-m"  id="formFileSm" type="file" name="image">
            <span class="error" id="formFileErrors"></span>
          </div>
          <div>
            <div class="mb-4 mt-4">
              <label for="exampleInputEmail1" class="form-label"></label>
              <input type="text" class="input form-control bg-x" placeholder="Nombre" id="inputName" name="name">
                <span class="error" id="nameErrors"></span>
            </div>
            <% if (typeof errors != 'undefined') { %>
              <ul>
             <% errors.forEach(element => { %>
              <% if (element.param == 'name') { %>
                <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
              <% } %>
             <% }) %>
            </ul>
            <% } %>
            <select class="form-select form-select-m mb-4 text-muted" aria-label=".form-select-sm example" name="category">
              <%categorias.forEach(element => { %>
               <option value="<%=element.id%>"><%=element.name%> </option>
              <% }) %>
              <!--<option selected>Categoria</option>
              <option value="Motherboard">Mother</option>
              <option value="Procesadores">Procesador</option>
              <option value="Memoria RAM">Memoria RAM</option>
              <option value="Fuentes">Fuentes</option>
              <option value="Teclados">Teclados</option>
              <option value="Mouse">Mouse</option>
              <option value="Placa de video">Placa de video</option>
              <option value="Gabinetes">Gabinetes</option>-->
            </select>
            <% if (typeof errors != 'undefined') { %>
              <ul>
             <% errors.forEach(element => { %>
              <% if (element.param == 'category') { %>
                <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
              <% } %>
             <% }) %>
            </ul>
            <% } %>
            <select class="form-select form-select-m text-muted" aria-label=".form-select-sm example" name="brand"
            aria-placeholder="Marca">
            <% marcas.forEach(element => { %>
             <option value="<%= element.id%> "><%=element.name %> </option>
            <% }) %>
              <!--<option selected>Marca</option>
              <option value="amd">AMD</option>
              <option value="intel">Intel</option>
              <option value="ryzen">Ryzen</option>
              <option value="evga">EVGA</option>
              <option value="redDragon">Red Dragon</option>
              <option value="logitech">Logitech</option>
              <option value="gigabyte">Gigabyte</option>
              <option value="nvidia">Nvidia</option>
              <option value="zotac">Zotac</option>
              <option value="hyperx">HyperX</option>
              <option value="nsi">NSI</option>
              <option value="razer">Razer</option>
              <option value="cougar">Cougar</option>
              <option value="MasterAir">Master Air</option>
              <option value="ID">ID</option>
              <option value="Nisuta">Nisuta</option>
              <option value="T-force">T-force</option>
              <option value="Corsair">Corsair</option>
              <option value="ASUS">ASUS</option>
              <option value="Havit">Havit</option>
              <option value="Aureox">Aureox</option>
              <option value="Sentey">Sentey</option>
              <option value="Essenses">Essenses</option>
              <option value="generica">Generica</option>-->

            </select>
            <% if (typeof errors != 'undefined') { %>
              <ul>
             <% errors.forEach(element => { %>
              <% if (element.param == 'brand') { %>
                <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
              <% } %>
             <% }) %>
            </ul>
            <% } %>
            <div class="mb-1">
              <label for="exampleInputEmail1" class="form-label"></label>
              <input type="number" class="input form-control bg-x" placeholder="Precio" id="price"
                aria-describedby="emailHelp" name="price">
                <span class="error" id="priceErrors"></span>
            </div>
            <% if (typeof errors != 'undefined') { %>
              <ul>
             <% errors.forEach(element => { %>
              <% if (element.param == 'price') { %>
                <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
              <% } %>
             <% }) %>
            </ul>
            <% } %>
            <div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"></label>
                <input type="number" class="input form-control bg-x" placeholder="Stock" id="stock"
                  aria-describedby="emailHelp" name="stock">
                  <span class="error" id="stockErrors"></span>
              </div>
              <% if (typeof errors != 'undefined') { %>
                <ul>
               <% errors.forEach(element => { %>
                <% if (element.param == 'stock') { %>
                  <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
                <% } %>
               <% }) %>
              </ul>
              <% } %>
              <div>

              <div class="form-floating mb-4">
                <textarea class="form-control" placeholder="Leave a comment here" id="description" name="description"></textarea>
                <span class="error" id="descriptionErrors"></span>
                <label class="text-muted">Descripcion</label>
              </div>
              <% if (typeof errors != 'undefined') { %>
                <ul>
               <% errors.forEach(element => { %>
                <% if (element.param == 'description') { %>
                  <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
                <% } %>
               <% }) %>
              </ul>
              <% } %>
            </div>
            <div class="mb-5 d-flex justify-content-around ">
              <button type="reset" class="btn btn-secondary">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<a href="#arriba"><input type="button" class="up"></a>
  <script src="/JS/productCreate.js"></script>
  <%- include("partials/footer")%>
</body>