<%- include("partials/head")%>
<%- include("partials/header")%>

<div class="form container admin">
    <div class="row gx-0">
      <div>
        <div class="titulo bg-success text-center mb-5">
          <h2 class="admin-title bg-dark">El admin piola</h2>
        </div>
        <form action="/products/edit/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data" >
          <img class="rounded mx-auto d-block "  src="/images/<%=product.image  %> " alt="">
          <div class="mb-3">
            <input class="form-control form-control-m"  id="formFileSm" type="file" name="image">
          </div>
         <!----> 
          <div>
            <div class="mb-4 mt-4">
              <label for="exampleInputEmail1" class="form-label"></label>
              <input type="text" class="input form-control bg-x" placeholder="Nombre" id="exampleInputEmail1"
                aria-describedby="emailHelp" name="name" value="<%=product.name  %> ">
            </div>
            <% if (typeof errors != 'undefined') { %>
              <ul>
             <% errors.forEach(element => { %>
              <% if (element.param == 'name') { %>
                <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
              <% } %>
             <% }) %>
            </ul>
            <% } %>
            <select class="form-select form-select-m mb-4 text-muted" aria-label=".form-select-sm example" name="category">
                <% categorias.forEach(element => { %>
                 <option <% if (element.id == product.idCategory) { %>
                  selected
                 <% } %> value="<%=element.id%>"><%=element.name%> </option>

                <% }) %>
              
            </select>
            <% if (typeof errors != 'undefined') { %>
                <ul>
               <% errors.forEach(element => { %>
                <% if (element.param == 'category') { %>
                  <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
                <% } %>
               <% }) %>
              </ul>
              <% } %>
            <select class="form-select form-select-m text-muted" aria-label=".form-select-sm example" name="brand"
            aria-placeholder="Marca">
                <% marcas.forEach(element => { %>
                 <option <% if (element.id == product.idBrand ) { %>
                  selected
                 <% } %> value="<%= element.id %> "><%= element.name %></option>
                <% }) %> 

            </select>
            <% if (typeof errors != 'undefined') { %>
                <ul>
               <% errors.forEach(element => { %>
                <% if (element.param == 'brand') { %>
                  <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
                <% } %>
               <% }) %>
              </ul>
              <% } %>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"></label>
              <input type="text" class="input form-control bg-x" placeholder="Precio" id="exampleInputEmail1"
                aria-describedby="emailHelp" name="price" value="<%= product.price%>">
            </div>
            <% if (typeof errors != 'undefined') { %>
                <ul>
               <% errors.forEach(element => { %>
                <% if (element.param == 'price') { %>
                  <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
                <% } %>
               <% }) %>
              </ul>
              <% } %>
            <div>
              <div class="form-floating mb-4">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="description" ><%= product.description%></textarea>
                <label class="text-muted">Descripcion</label>
              </div>
            </div>
           
            <div class="mb-5 d-flex justify-content-around ">
              <button type="reset" class="btn btn-secondary">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<%- include("partials/footer")%>
</body>