<%- include("partials/head")%>
  <%- include("partials/header")%>

    <main class="container mt-2 mb-2">

      <section class="contenedora">
        <div class="container">
          <div class="row">
            <div class="slider owl-carousel">
              <% categorias.forEach(element => { %>
                
                <div class="card col-12 bg-success" style="margin: 10px auto;">
                  
                  <div class="content" style="width: 100%;">
                    <a href="/products/category/<%=element.id%>" style="text-decoration: none; display: flex; justify-content: space-between; width: 100%;" >
                    <div class=" mr-5 text-white justify-self-start"><%=element.name%></div>
                    <div class="muted text-white"> productos: <%=element.categorias.length%> </div>
                  </a>
                  </div>
                
                </div>
              
              <% }) %>
          
              

            </div>
          </div>
        </div>
      </section>
    </main>
    <a href="#arriba"><input type="button" class="up"></a>
    <%- include("partials/footer")%>
      </body>