<%- include("partials/head")%>
  <%- include("partials/header")%>
    <section>
      <div class="container form">
        <div class="row register">
          <div class="px-lg-5 py-lg-4 p-4 w-100 aling-self-center">
            <form action="/users/login" method="POST" id="formLogin">
              <div class="mb-3 emailinput">
                <label for="InputEmailLogIn" class="form-label">Email</label>
                <input type="email" class="form-control bg-x" name="email" placeholder="Ingresa tu email" id="email"
                  aria-describedby="emailHelp">
                <span class="error" id="emailErrors"></span>  
              </div>
              <% if (typeof errores != 'undefined') { %>
                <ul>
               <% errores.forEach(element => { %>
                <% if (element.param == 'email') { %>
                  <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
                <% } %>
               <% }) %>
              </ul>
              <% } %>
              <div class="mb-3">
                <label for="InputPasswordLogIn" class="form-label">Contraseña</label>
                <input type="password" class="form-control bg-x mb-3" name="password" placeholder="Ingresa tu contraseña" id="password">
                <span class="error" id="passwordErrors"></span>
                <% if (typeof errores != 'undefined') { %>
                  <ul>
                 <% errores.forEach(element => { %>
                  <% if (element.param == 'password') { %>
                    <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
                  <% } %>
                 <% }) %>
                </ul>
                <% } %>
                <a class="text-muted text-decoration-none" href="">
                  <div id="emailHelp" class="form-text">¿Olvidaste tu contraseña?</div>
                </a>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input bg-x" id="remember" name="recordame">
                <label class="form-check-label" for="remember">Recordarme</label>
              </div>
              <button type="submit" id="iniciar-secion" class="btn btn-dark col-12">Iniciar Sesión</button>
              <div id="emailHelp" class="form-text text-center">O inicia sesión con</div>
              <div class="d-flex justify-content-around">
            </form>
                <span id="formLoginErrors"></span>
            <form action="/users/register" method="POST" id="formRegister">    
                <div class="d-flex justify-content-around">
                  <button type="submit" class="btn btn-outline-primary flex-grow-1 mt-2"> <img class="google"
                      src="/images/google.png" alt=""><i
                      class="first-g">G<i class="first-o">o</i><i class="second-o">o</i><i
                      class="second-g">g</i><i class="l">l</i><i class="e">e</i></button></i>
                </div>
                <div class="d-flex justify-content-around">
                  <button type="submit" class="btn btn-outline-primary flex-grow-1 mt-2"><i
                      class="fab fa-facebook-f lead"></i>Facebook</button>
                </div>
              </div>
              <div id="emailHelp" class="form-text text-center mt-2">Registrarse</div>
              <div class="mb-3">
                <label for="InputEmailRegister" class="form-label">Email</label>
                <input type="email" class="form-control bg-x" name="email" placeholder="Ingresa tu email" id="emailRegister">
                <span class="error" id="emailRegisterErrors"></span>
                  <% if (typeof errors != 'undefined') { %>
                    <ul>
                   <% errors.forEach(element => { %>
                    <% if (element.param == 'email') { %>
                      <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
                    <% } %>
                   <% }) %>
                  </ul>
                  <% } %>
              </div>
              <div class="mb-3">
                <label for="InputPasswordRegister" class="form-label">Contraseña</label>
                <input type="password" class="form-control bg-x" name="adress" placeholder="Ingresa tu contraseña"
                  id="inputPasswordRegister">
                  <span class="error" id="passwordRegisterErrors"></span>
                  <% if (typeof errors != 'undefined') { %>
                    <ul>
                   <% errors.forEach(element => { %>
                    <% if (element.param == 'adress') { %>
                      <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
                    <% } %>
                   <% }) %>
                  </ul>
                  <% } %>
                <label for="InputPasswordRegisterConfirm" class="form-label mt-3">Confirmar contraseña</label>
                <input type="password" class="form-control bg-x" name="adress2" placeholder="Confirma tu contraseña"
                  id="inputPasswordRegisterConfirm">
                  <span class="error" id="passwordRegisterConfirmErrors"></span>
                  <% if (typeof errors != 'undefined') { %>
                    <ul>
                   <% errors.forEach(element => { %>
                    <% if (element.param == 'adress2') { %>
                      <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
                    <% } %>
                   <% }) %>
                  </ul>
                  <% } %>
              </div>
              <button type="submit" class="btn btn-dark col-12">Registrarse</button>
          </div>
          </form>
        </div>
      </div>
      </div>
    </section>
    <script src="/JS/loginRegister.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"></script>
      <a href="#arriba"><input type="button" class="up"></a>
    <%- include("partials/footer")%>
  </body>