<%- include("partials/head")%> 
<%- include("partials/header")%> 


<main class="container mt-2 mb-2">
  <section class="contenedora">
    <div class="container">
      <div class="row">
          <div class="slider owl-carousel">
<% if (typeof products != "null" && typeof products != "undefined" ) { %>
        <% products.forEach(element=> { %>
            <div class="card col-sm-12 col-md-5 col-lg-3">
              <div class="img">
                <img src="/images/<%= element.image %> " alt="">
              </div>
              <div class="content">
                <div class="title" id="nombre" idProducto="<%= element.id %>" >
                  <%= element.name %>
                </div>
                <div class="price">
                  <%= element.price %>
                </div>
                <div class="btn">
                  <button type="submit" class="botones" idProducto="<%=element.id%>"><i class="fas fa-cart-plus"></i> Agregar al carrito</button>
                </div>
              </div>
            </div>
          <% }) %>
          <% } %> 

          <% if (typeof brands != "null" && typeof brands != "undefined" ) { %>
            <% products.forEach(element=> { %>
                <div class="card col-sm-12 col-md-5 col-lg-3">
                  <div class="img">
                    <img src="/images/<%= element.image %> " alt="">
                  </div>
                  <div class="content">
                    <div class="title" id="nombre" idProducto="<%= element.id %>" >
                      <%= element.name %>
                    </div>
                    <div class="price">
                      <%= element.price %>
                    </div>
                    <div class="btn">
                      <button type="submit" class="botones" idProducto="<%=element.id%>"><i class="fas fa-cart-plus"></i> Agregar al carrito</button>
                    </div>
                  </div>
                </div>
              <% }) %>
              <% } %> 

              <% if (typeof categorys != "null" && typeof categorys != "undefined" ) { %>
                <% products.forEach(element=> { %>
                    <div class="card col-sm-12 col-md-5 col-lg-3">
                      <div class="img">
                        <img src="/images/<%= element.image %> " alt="">
                      </div>
                      <div class="content">
                        <div class="title" id="nombre" idProducto="<%= element.id %>" >
                          <%= element.name %>
                        </div>
                        <div class="price">
                          <%= element.price %>
                        </div>
                        <div class="btn">
                          <button type="submit" class="botones" idProducto="<%=element.id%>"><i class="fas fa-cart-plus"></i> Agregar al carrito</button>
                        </div>
                      </div>
                    </div>
                  <% }) %>
                  <% } %> 

          </div>
      </div>
    </div>
  </section>
</main>
<a href="#arriba"><input type="button" class="up"></a>
<%- include("partials/footer")%> 
<script src="/javascripts/carritoBotones.js"></script>
<script src="/javascripts/carrito.js"></script>
<script src="/javascripts/buscador.js"></script>

</body>